html {
    background-color: lavenderblush;
}
header h1 {
    font-family: cursive;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(71, 61, 139, 0.616);
    color: rgb(84, 2, 119);
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: rgb(248, 162, 205);
    border: solid 5px hotpink;
    border-radius: 10px;
}

main h2 {
    text-align: center;
}

#three-images {
    display: flex;
    gap: 2rem;
}

div img {
    flex: 1;
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-top: 50px;
    border: solid 5px hotpink;
    border-radius: 10px;
    box-shadow: 10px 10px 10px darkslateblue;
    text-align: center;
    font-size: 20px;
}

img:hover {
    box-shadow: 20px 20px 20px indigo;
    width: 252px;
    height: 252px;
}

div p {
    text-align: center;
    font-size: 20px;
}

footer {
    margin-top: 30px;
    text-align: center;
    background: hotpink;
    font-size: 24px;
    color: rgb(51, 0, 73);
    padding-top: 30px;
    padding-bottom: 30px;
}

main {
    color: rgb(141, 5, 130);
    font-family: cursive;
}

#Results {
    background-color: rgba(98, 209, 243, 0.445);
    width: 200px;
    margin: auto;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(214, 9, 139);
    border: solid rgba(255, 105, 180, 0.561) 5px;
    border-radius: 10px;
    font-family: cursive;
    box-shadow: 10px 10px 10px rgba(148, 0, 211, 0.705);
}

#dataCharts {
    margin-top: 50px;
}

#button {
    background-color: rgba(255, 105, 193, 0.726);
    border: solid rgb(233, 14, 178);
    font-family: cursive;
    color: rgb(115, 0, 119);
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

#button:hover {
    background-color: rgb(235, 28, 107);
    color: white;
    border: solid lightseagreen
}